#userInput{
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1280px;
    height: 720px;
    border: 5px solid black;
    background-image: url("assets/images/fb.png");
    background-color: white;
}
body {
  background: linear-gradient(rgb(181,255, 174),gray);
}
form.center {
  width: 240px;
  border: 1px solid white;
  padding: 12px;
  margin: auto;
}